<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import sqlite3
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()

In [2]:
request = "CREATE TABLE EMP(id int, name varchar(32), last_name varchar(32))"
c.execute(request)
tables = c.fetchall()

OperationalError: table EMP already exists

In [10]:
c.execute("""insert into EMP VALUES
(1,2,3),
('AAAA','BBBB','CCCC'),
('a1','a2','a3')""")

In [12]:
c.execute("SELECT count(*) from EMP")
results = c.fetchall()
results[0][0]

3

In [ ]:
import sys
!{sys.executable} -m pip install sqlitedict

In [ ]:
import sqlitedict
import pandas as pd

In [ ]:
from sqlitedict import SqliteDict
mydict = SqliteDict('TestDB_key_value.sqlite', autocommit=True)

In [ ]:
mydict['key1'] = 'value1'
mydict['key2'] = ['123',123]
mydict['key3'] = pd.DataFrame()
mydict.commit()
# mydict.close()

In [ ]:
print(mydict['key1'])
print(mydict['key2'])
print(mydict['key3'])

In [ ]:
!{sys.executable} -m pip install tinydb

In [ ]:
from tinydb import TinyDB, Query

In [ ]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')
db.insert({'int': 1, 'char': 'a'})
db.insert({'int': 1, 'char': 'b'})

In [ ]:
User = Query()
db.search(User.char == 'a')